[Unit]
Description=Call the backup file

[Service]
ExecStart=/etc/backup/backup.py
WorkingDirectory=/srv/backup/
Restart=always

[Install]
WantedBy=default.target
